* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif
}

.nav {
    width: 100%;
    overflow: hidden;
}

.nav_style {
    float: right;
    margin: 40px;
}

.nav_style ul li {
    display: inline-block;
    margin-right: 20px;
    text-transform: capitalize;
}

.protfolio {
    padding: 60px;
}

.protfolio_full_area {
    width: 100%;
    height: auto;
}

.protfolio_half_area {
    width: 40%;
    float: left;
}

.protfolio_text {
    margin-left: 40px;
}

.protfolio_text h1 {
    text-transform: uppercase;
}

.protfolio_text h2 {
    text-transform: uppercase;
    margin: 10px 0;
    color: tomato;
}

.protfolio_img {
    width: 70%;
    float: right;
    margin-top: -100px;
}

.protfolio_img img {
    width: 100%;
    height: 100%;
}

.protfolio_link {
    margin: 20px 0px;
}

.protfolio_link a {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(lightgreen, #36b7b5);
    color: #fff;
}

.about {
    padding: 60px;
}

.about_full_area {
    width: 100%;
    height: auto;
}

.about_half_area {
    width: 40%;
    float: left;
}

.about_img {
    width: 70%;
    float: right;
    margin-top: -100px;
}

.about_img img {
    width: 100%;
    height: 100%;
}

.protfolio_text {
    float: right;
}

#clearfixt {
    clear: both;
    display: table;
}

.about_link {
    margin: 20px 0;
}

.about_link span {
    margin-right: 5px;
}

.about_link a {
    text-decoration: none;
    padding: 10px 15px;
    background-image: linear-gradient(lightgreen, #36b7b5);
    color: #fff;
    font-size: 16px;
}

.work {
    background-color: rgba(128, 128, 128, 0.172);
    width: 100%;
    padding-bottom: 70px;
}

.work_title {
    text-align: center;
    margin: 40px;
}

.work_title h1 {
    text-transform: uppercase;
}

.work_detiles {
    margin-left: 50px;
}

.work_part {
    width: 25%;
    float: left;
    padding: 10px 20px;
    border-radius: 5px;
    height: auto;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px black;
}

.work_img img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.work_part .work_text h2 {
    color: red;
    margin: 10px;
}

.work_part .work_text p {
    margin: 10px;
}

.img_section {
    width: auto;
    height: 200px;
    margin-top: 20px;
}


/* .backround_img {
    background-image: url("/images/image 4.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
} */

.img_section {
    background-image: url("images/Group_33094_1.png");
    background-size: 800px 150px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 0;
}

.img_text {
    position: relative;
    top: 43%;
    left: 25%;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

.img_link {
    position: relative;
    top: 23%;
    left: 65%;
    text-transform: capitalize;
}

.img_link a {
    text-decoration: none;
    text-decoration: none;
    padding: 13px 25px;
    background-image: linear-gradient(lightgreen, #36b7b5);
    color: #fff;
    border-radius: 5px;
}

.contact_section {
    padding: 20px;
}

.contt_middle {
    text-align: center;
}

.contact_text h1 {
    color: gray;
    font-size: 30px;
    text-transform: uppercase;
}

.contact_text h3 {
    font-size: 30px;
    margin-top: 10px;
}

.contact-img {
    padding: 20px;
}

.contact-img img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}